.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-content: space-around;
    grid-auto-flow: row;
}
.search-container {
    align-items: center;
    justify-items: center;
}
input {
    font-size: 18px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: black
}
.container{
    border: 1px solid black;
    width: 400px;
    height: 300px;
}
.container-banner{
    width:100%;
}
.container-banner-img{
    width:100%;
}

.container-duration{
    position: relative;
    top: 30px;
}
.container-levels{
    position: relative;
    top: 100px;
}
ul{
    list-style: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
li{
    border: 1px solid rgb(235, 234, 234);
    background-color: rgb(233, 230, 230);
    padding: 5px;
}